.drinks {
  display: grid;
  grid-template-columns: auto auto;
}

.drinks-content-info {
  padding-block: var(--offset);
  padding-inline: var(--inner-spacing);
  display: grid;
  justify-content: center;
  justify-items: start;
}

.drinks-content-info h2 {
  font-family: "Oswald", "Times New Roman", Times, serif;
  font-size: 2.25rem;
  line-height: 1.1;
  position: relative;
  margin-bottom: 0.5em;
}

.drinks-content-info h2::before {
  display: block;
  content: "";
  width: 168px;
  height: 22px;
  background: #117050;
  position: absolute;
  top: -48px;
}

.drinks-content-info blockquote {
  font-style: italic;
  margin-bottom: 2em;
}

.drinks-content-info p {
  max-width: 60ch;
  margin-bottom: 4em;
}

.drinks-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 1200px) {
  .drinks-pic img {
    max-width: 800px;
  }
}

@media (max-width: 800px) {
  .drinks-content-info h2::before {
    top: -16px;
    width: 84px;
    height: 12px;
  }
}

@media (max-width: 480px) {
  .drinks-pic img {
    display: none;
  }
}
