.intro-bg {
  background: center / cover no-repeat url("../../img/bg.jpg");
}

.intro {
  padding-block: var(--offset);
}

.intro > * + * {
  margin-top: 1em;
}

.intro h1 {
  font-family: "Oswald", "Times New Roman", Times, serif;
  font-size: 6rem;
  line-height: 1;
}

.intro-list {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.intro-list img {
  width: 164px;
  height: 164px;
  border-radius: 50%;
  border: 6px solid #117050;
}

@media (max-width: 800px) {
  .intro h1 {
    font-size: 4rem;
  }
  .intro-list {
    gap: 0.5rem;
  }
  .intro-list img {
    width: 132px;
    height: 132px;
  }
}

@media (max-width: 480px) {
  .intro h1 {
    font-size: 3rem;
  }
  .intro p {
    max-width: 30ch;
  }
  .intro-list img {
    border-width: 3px;
    width: 72px;
    height: 72px;
  }
}
