.intro-bg {
  background: top / cover no-repeat url("../../img/bg.jpg");
}

.intro {
  padding-block: var(--block-spacing);
}

.intro > * + * {
  margin-top: 3em;
}

.intro h1 {
  font-family: "Oswald", "Times New Roman", Times, serif;
  font-size: 6rem;
  line-height: 1;
  color: rgb(17, 17, 17);
}

.intro p {
  color: rgb(17, 17, 17);
}

.intro-list {
  display: flex;
  flex-wrap: wrap;
}

.intro-list li {
  padding: 1.5em 0.5em;
}

.intro-list img {
  width: 164px;
  height: 164px;
  border-radius: 50%;
  border: 6px solid #117050;
}

@media (max-width: 800px) {
  .intro h1 {
    font-size: 4rem;
  }
  .intro-list li {
    padding: 0.5rem;
  }
  .intro-list img {
    width: 120px;
    height: 120px;
    border-width: 3px;
  }
}

@media (max-width: 480px) {
  .intro-bg {
    background: #fdfdfd;
  }
  .intro h1 {
    font-size: 3rem;
  }
  .intro h1,
  .intro p {
    text-align: center;
  }
  .intro-list {
    flex-direction: column;
    align-items: center;
  }
}
